# Normalize text files to LF in the repository.
* text=auto eol=lf

# Exclude development-only files from distribution archives.
tests/                 export-ignore
docs/                  export-ignore
scripts/               export-ignore

.editorconfig          export-ignore
.git*                  export-ignore
commitlint.config.cjs  export-ignore
docker-compose.yml     export-ignore
Dockerfile             export-ignore
package.json           export-ignore
phpcs.xml.dist         export-ignore
phpstan.neon.dist      export-ignore
phpunit.xml.dist       export-ignore
