includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    paths:
        - src
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    tmpDir: .phpstan.cache
